.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    min-height: 80vh;
    height: max-content;
}

.FXLatestPriceComponent{
    height: 715px;
    width: 400px;
    .Header{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: auto;
        justify-items: center;
        align-items: center;
        margin-bottom: 10px;
    }
}

.FXSignalChartComponent{
    display: flex;
    flex-direction: column;
    height: max-content;
    width: max-content;
}

.latestPriceContainer{
    display: flex;
    flex-direction: column;
    
    .latestPrice{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: auto;
        justify-items: center;
        align-items: center;
        transition: all 200ms ease;
        text-decoration: none;
        color: currentColor;
        &.active{
            background: #ecfbff;
            backdrop-filter: blur(0.8);
        }

        &:hover{
            background-color: #fafafa;
        }

        .symbol, .price, .change{
            padding: 10px;
            font-weight: 500;
        }

    }

    .latestPrice{
        cursor: pointer;
        .change{
            .positive{
                color: #00BAEC;
            }
            .negative{
                color: tomato;
            }
        }
    }
}






*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media all and (max-width: 900px){
    .container{
        flex-direction: column;
        .FXLatestPriceComponent{
            width: 100%;
        }
        .FXSignalChartComponent{
            width: 100%;
        }
    }
}